<span class="text-accent">@displayedText<span class="cursor">|</span></span>

@code {
    [Parameter] public string[] Words { get; set; } = new[] { "inspiran", "hermosos" };

    private int currentWordIndex = 0;
    private string displayedText = "";
    private int charIndex = 0;
    private bool isDeleting = false;

    protected override async Task OnInitializedAsync()
    {
        while (true)
        {
            if (!isDeleting)
            {
                if (charIndex < Words[currentWordIndex].Length)
                {
                    displayedText += Words[currentWordIndex][charIndex];
                    charIndex++;
                    await Task.Delay(150);
                }
                else
                {
                    await Task.Delay(2000);
                    isDeleting = true;
                }
            }
            else
            {
                if (charIndex > 0)
                {
                    displayedText = displayedText.Substring(0, charIndex - 1);
                    charIndex--;
                    await Task.Delay(100);
                }
                else
                {
                    isDeleting = false;
                    currentWordIndex = (currentWordIndex + 1) % Words.Length;
                }
            }
            
            StateHasChanged();
        }
    }
}